hemiphot.py
index_test.html*
functions_test.js*
converse.py*
polar_test.py
index_compress.html
index3.html
functions_compress.js
functions_compress2.js
data_private/
testjs/
*~
scratch
TODO
test_load_jpg.py